@font-face {
  font-family: 'Wizzard';
  src: url('../fonts/Grenze_Gotisch/GrenzeGotisch-VariableFont_wght.ttf')
       format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    font-family: 'Wizzard';
}

.card {
    width: 1000px;
    margin:100px auto;
    border-radius: 7px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.10);
    display: flex;
}

.card__img-container {
    width: 40%;
}

.card__content {
   width: 60%;
   padding: 100px 18px 0px 18px;
}

.card__img-container img {
    width: 100%;
    border-radius: 7px 0px 0px 7px;
    display: block;
}

.card__title {
    color: #444;
    font-size: 35px;
}

.card__subtitle {
    font-size: 20px;
    color: #3b0f0f;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 55px;
}

.card__description {
    font-size: 20px;
    line-height: 1.6;
    color: #474646;
    margin-bottom: 65px;
}

.card__price {
    font-size: 35px;
    color: #444;
    font-weight: bold;
    margin-bottom: 5px;
}

.card__button {
    text-decoration: none;
    background-color: #3b0f0f;
    color: bisque;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 30px;
}

.card__button:hover {
    background-color: #3b0f0fb3;
}

