* {
    box-sizing:border-box;
}

body{
    background: linear-gradient(to bottom, rgba(255, 217, 172, 0.8), rgba(240, 180, 132, 0.8));
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 15px;
    color: darkcyan;
    border-radius: 5px;
    box-shadow:
        inset 0 0 10px rgba(233, 146, 40, 0.4),
        inset 0 0 20px rgba(203, 147, 64, 0.3),
        inset 0 0 30px rgba(232, 144, 44, 0.2);
}

h2, .childText {
    text-align: center;
    font-size: 40px;
    padding: 0 15px;
    color: darkcyan;
    margin-bottom: 0px;
}

textarea {
    width: 100%;
    resize: none; 
    height: 150px;
    padding: 10px;
    font-size: large;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 5px;;
}

input[type="radio"] {
    padding: 5px;
    width:24px;
    height: 24px;
}

td {
    padding:5px;
}

table {
    width: 600px;
    margin: auto;
    text-align: center;
}

input[type="button"] {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    border-radius: 5px;
}

.selectedImg {
    border:3px red solid;
}