/*

# Removing all Defaults

* { 
    margin: 0;
    padding: 0;

    # Sets the whole width of the element < Including - padding - border - content >
    box-sizing: border-box;
}
*/


body {
    margin: 0;
}

.box {
    width: 400px;
    margin:100px auto;
    background-color: aqua;
    padding-top: 10px;
}

.one {
    background-color: red;
    margin-top: 300px;
    height: 30px;
}

.two {
    background-color: blue;
    height: 30px;
}

.three {
    background-color: yellow;
    height: 30px;
    /*margin-left: auto; gives all left making this attached to the right**/
}
