body {
    font-family: 'sans-serif';
}

h1 {
    color: blue;
}

code {
    color: red;
    font-family: 'monospace';
}

.code-green {
    color:green;
}

li + li {
    color:white;
    background-color: black;
}

ol > li {
    color: white;
    background-color: black;
}

