@font-face {
    font-family: 'font-1';
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'font-2';
    src: url("../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf");
}

$main-font: "font-1";
$secondary-font: "font-2";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
    width: 60%;
    margin: 2% auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}

.text-section {
    padding: 30px;
    .main-title {
        font-family: $main-font;
        font-size: x-large;
    }
    .subtle-text {
        font-family: $secondary-font;
        font-size: large;
        color: #5a5656;
    }
    .price-text {
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #807c7c;
    }
}

.header {
    font-family: $main-font;
    text-align: center;
    font-size: x-large;
    margin:5% 50px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 55px;
}

@mixin createLayout ($noOfCols,$prefix,$breakPoint){
 @media (min-width:$breakPoint){
    @for $i from 1 through $noOfCols{
        @if($prefix==""){
            .col-#{$i}{
                width:($i/$noOfCols)*100%;   
            }
        }
        @else{
            .col-#{$prefix}-#{$i}{
                width:($i/$noOfCols)*100%;
            }
        }
    }
 }   
}

@include createLayout(12,"" ,0px );
@include createLayout(12,"sm" ,400px );
@include createLayout(12,"md" ,800px );
@include createLayout(12,"lg" ,1000px );
@include createLayout(12,"xlg" ,1200px );

