body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(247, 246, 246);
    color: #444;
}


legend {
    font-weight: bold;
    font-size: 25px;
}

fieldset {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    border-style: solid;
    background-color: whitesmoke;
    padding: 20px;
}
.container {
    width: 600px;
    margin: 90px auto;
    /* padding: 50px; */
}

.form-content {
    padding-left: 5px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    width: 90%;
    margin-bottom: 15px;
    padding: 4px;
    border-style:solid;
    color: #444;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 15px;
}

.button-container {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.button {
    padding: 9px 45px;
    border-radius: 5px;
    border-style: solid;
    border-color: #444;
    color: whitesmoke;
    background-color: #444;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}