* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background-image:url("../images/cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header {
    background-color: green;
    padding: 8px 30px;
}

.main-nav__item {
    display: inline-block;
    margin:0 10px;
}


.main-header > div {
    display: inline-block;
    padding: 5px 20px;
    vertical-align: middle;
}

.main-nav {
    text-align: right;
    display: inline-block;
    width: calc(100% - 120px);
    vertical-align: middle;
}

.main-header__brand {
    color: blanchedalmond;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}
.main-nav__item a {
    text-decoration: none;
    color: blanchedalmond;
    font-weight:bold;
    font-size: medium;
    padding: 10px;
}

.main-nav__item a:hover {
    color: coral;
    border-bottom: 5px solid coral;
}

.main-nav__item a:active {
    color: blanchedalmond;
}

.main-nav__item--cta a {
    color: blanchedalmond;
    background-color: coral;
    padding:10px 10px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover {
    border: none;
    color: coral;
    background-color: blanchedalmond;
}

.main-nav__item--cta a:active {
    border: none;
    color: coral;
    background-color: blanchedalmond;
}